{% extends 'staff/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Topics</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sujet</th>
                            <th>Date</th>
                            <th>Choisir</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in topic %}
                            <tr>
                                <td>{{ t.id }}</td>
                                <td>{{ t.subject }}</td>
                                <td>{{ t.created_at }}</td>
                                <th><a href="{% url 'detail_topic' topic_id=t.id %}">Choisir</a></th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
