.m-t-2 {
    margin-top: 1rem;
}

.m-t-3 {
    margin-top: 2rem;

}

#m-r-0 {
    margin-right: 0;
}

.h-5 {
    height: 50px;
}

#c-w {
   color: white;
}


#m-s {
    position: relative;
    width: 94%;
}

.p-p {
    position: absolute;
    color: black;
    bottom: -20px;
    right: 30px;
}

.pastel {
    font-family: 'IBM Plex Mono', monospace;
    color: black !important;
    background-color: white !important;
}

.b-o {
    background-color: #f9c17f8a;
}

.tb {
    font-family: 'Ultra', serif;
    color: white;
    font-size: 1rem;
}

.pastel:hover {
    background-color: black !important;
    color: white !important;
}

.img-m {
    position: absolute;
    left: 15px;
}

.ita {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8rem;
}

a:hover {
    text-decoration: none !important;
}


#car-d {
    padding: 1rem;
    background-color: white;
    color: #593D3F;
    font-size: 1rem;
    font-family: 'IBM Plex Mono:700', monospace ;
    border-radius: 5px;
    box-shadow: -2px 2px #86D7F0;

}


.img-nav {
    background-image: url("/static/img/box.png");
    background-color: #F9C17F;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}


#form-tr{
    background-color: #ffffffba;
}

#card-h {
    background-color: #86D7F0;
    color: white;
}

#bt-blue {
    color: white;
    background-color: #86D7F0;
}

#b-b-s {
    border: 1px solid #4CACD6;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -5px 5px #4CACD6;
}

/* star */

.star{
    color: white;
    font-size: 2rem;
    padding: 0 0.1rem; /* space out the stars */
}
.star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
}
.star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
}

.stars{
    counter-reset: rateme 0;
    font-size: 2.0rem;
    font-weight: 900;
}
.star.rated{
    counter-increment: rateme 1;
}
/* box size */

#c-s-l {
    position: relative;
    width: 80%;
    padding: 1rem;
    border-radius: 0 20px 20px 20px;
    background-color: white;
    color: #593D3F;
    font-size: 0.9rem;
    font-family: 'IBM Plex Mono', monospace ;
}


#c-s-l a {
    color: #4CACD6;
}

.m-b-r {
    margin-right: 1rem;
}

/*share*/

#li {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 50px;

}

#star {
    font-size: 3rem;
}

#top {
    position: absolute;
    top: 5%;
    left: 3%;

}

#m-r {
    position: relative;
    margin-right: 4%;
}

.ba-co {

    background-image: url("/static/img/box.png");
    background-color: #F9C17F;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#share {
    background-color: white;
    padding-bottom: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #593D3F;
    font-family: 'IBM Plex Mono', monospace ;
}

#share span {
    color: #4CACD6;
}

#h{
    max-height: 600px;
    overflow: scroll;

}

